

      <!-- Nav pills -->
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li><a class="navbar-brand" href="#">
          <img src="./assets/brand.jpg" alt="Logo" style="width:40px;">
        </a></li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" routerLink="bike">Logos</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " data-toggle="pill" routerLink="contactus">dropdown</a>
        
        </li>
      
      <li class="nav-item">
      
        <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      
    </li>
    </ul>



<router-outlet></router-outlet> 